* {
  padding: 2;
  margin: 2;
}
head, html {
  cursor: url(./home_imgs/cursortest.png), auto !important;
  height: 100%
}

body{
  background-color: rgba(253, 40, 196, 0.281);
}

.title h1{
  width: 5vw
  font-size: 8vw;
}

.blocky {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
  color:rgb(156, 60, 60)
  
}

a {
  text-decoration: none;
}

a:link {
  color:rgba(61, 17, 32, 0.769)
}


a:hover {
  border: 5px dashed papayawhip;
}

a:visited {

}

.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width:100%;
  margin-left: 50%
  margin-right: 50%
}

.row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box1{
  width: 45vw;
  margin-left: 1vw;
  text-align: center;
  background-color: rgba(254,181,234,255);
}

.box2{
  width: 45vw;
  margin-left: 1vw;
  text-align: center;
  align-self: center;
  background-color: rgba(254,181,234,255);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 400px;
}

.grid__item {
  height: 60px;
  width: 60px;
  background: grey;
  opacity: 0;
  transition: opacity 2s ease 0.4s, transform 0.8s ease;
  transform: scale(1);
}

.grid__item:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(1.04);
}