body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10vw;
    font-style: normal;
    font-weight: 700;

    text-align: center;

    background-color: black;
    color: rgb(64, 59, 42);
}

canvas {
    width: 100%;
}