body{
    background: rgb(0, 0, 0)
}
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fullscreen {
    width: 100%;
    object-position: top;
}
  
.word-container {
    position: absolute;
    text-align: left;
    margin-top: -3%;
    margin-left: 1%;
    line-height: 0px;
}
  
.word-container h1{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    color:rgb(250, 255, 223)
}
  
.word-container h3{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    margin: 0;
    color:rgb(250, 255, 223)
}
  
.word-paragraph {
    position: absolute;
    text-align: left;
    margin-top: 1%;
    margin-left: 1%;
}
  
.word-paragraph p{
    font-family: 'Alegreya', serif;
    width: 500px;
    font-size: 6vw;
    font-style: normal;
    font-size: medium;
    margin-top: 30%;
    margin-left: 0%;
    color:rgb(250, 255, 223)
}

.kitchen {
    margin-top:0px; 
    left:0px; 
    animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  
.hide {
    display: none;
}