.img-text {
    position: absolute;
    text-align: left;
    margin-top: 5px;
    }

.img-text h1{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    color:rgb(250, 255, 223)
}

.img {
    max-width: 100%
}